*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.reg-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("/public/images/log-back.jpg");
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
}


