/* .services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
} */


/* <div style={{ justifyContent: "space-evenly" }} > */
/* .service-main{
    display: flex;
    min-width: 100vh;
} */
